<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2015.
  ~
  ~ AIRANZA, INC.
  ~ _____________
  ~   [2015] - [${YEAR}] Adobe Systems Incorporated
  ~   All Rights Reserved.
  ~
  ~  NOTICE:  All information contained herein is, and remains
  ~  the property of Airanza, Inc. and its suppliers,
  ~  if any.  The intellectual and technical concepts contained
  ~  herein are proprietary to Airanza Inc.
  ~  and its suppliers and may be covered by U.S. and Foreign Patents,
  ~  patents in process, and are protected by trade secret or copyright law
  ~
  ~  Dissemination of this information or reproduction of this material
  ~  is strictly forbidden unless prior written permission is obtained
  ~  from Airanza Inc.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.airanza.apass" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/a_icon_white_trans_border_96x96"
        android:logo="@drawable/airanza_logo_aqua_trans"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:backupAgent="TheBackupAgent"
        >
        <!-- This meta data tag is required to use Google Play Services (admob)-->
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>

        <meta-data android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIiH50UfNgXWAhziYFleodvQnVwojRLpv2LgI2gQ" />
        <activity
            android:name="com.airanza.apass.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity android:name="com.airanza.apass.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.airanza.apass.LoginActivity"
            android:label="Login to APAss"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name="com.airanza.apass.RegisterActivity"
            android:label="Create APass Login"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity android:name="com.airanza.apass.ChangeRegistrationActivity"
            android:label="Change APass Login Info"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="com.airanza.apass.NewResourceActivity"
            android:label="New"
            android:parentActivityName="com.airanza.apass.MainActivity"
            android:windowSoftInputMode="stateVisible"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.airanza.apass.MainActivity" />
        </activity>
        <activity
            android:name="com.airanza.apass.EditResourceActivity"
            android:label="Edit"
            android:parentActivityName="com.airanza.apass.MainActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.airanza.apass.MainActivity" />
        </activity>
        <!-- include AdActivity configChanges and theme. -->
        <activity  android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
    </application>
    <!-- Include required permissions for Google Mobile Ads to run-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>
